[Unit]
Description=Sleep-on-LAN daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/sol --port 10
Restart=on-failure
User=root

# Security hardening
PrivateTmp=yes
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes

[Install]
WantedBy=multi-user.target
